*.d
*.o
.DS_Store
.*.md.html

Teensydunio/Projects/.metadata/.lock
Teensydunio/Projects/.metadata/.log
Teensydunio/Projects/.metadata/.mylyn/repositories.xml.zip
Teensydunio/Projects/.metadata/.plugins/org.eclipse.cdt.core/.log
Teensydunio/Projects/.metadata/.plugins/org.eclipse.cdt.core/LedSnowboard.1390246746592.pdom
Teensydunio/Projects/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
Teensydunio/Projects/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
Teensydunio/Projects/.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.resources/.history/54/b05fd5fd0a8200131aaff1da4161d1a1
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.resources/.history/7f/d0b9926b688400131d0dd603b1de9611
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.resources/.history/ea/f033ae100b8200131aaff1da4161d1a1
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.resources/.history/fc/4056932f268200131d0dd603b1de9611
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.resources/.projects/LedSnowboard/.indexes/history.index
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.resources/.projects/LedSnowboard/.indexes/properties.index
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.resources/.projects/LedSnowboard/.markers
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.resources/.projects/LedSnowboard/.markers.snap
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.resources/.projects/LedSnowboard/.syncinfo.snap
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.resources/.projects/LedSnowboard/org.eclipse.egit.core/GitProjectData.properties
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.resources/.snap
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-LedSnowboard.prefs
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.mylyn.ui.prefs
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
Teensydunio/Projects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
Teensydunio/Projects/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Teensydunio/Projects/.metadata/.plugins/org.eclipse.linuxtools.cdt.libhover/C/devhelp.libhover
Teensydunio/Projects/.metadata/.plugins/org.eclipse.linuxtools.cdt.libhover/C/glibc_library.libhover
Teensydunio/Projects/.metadata/.plugins/org.eclipse.rse.core/.log
Teensydunio/Projects/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
Teensydunio/Projects/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.annes-macbook-2_0/FP.local.files_0/node.properties
Teensydunio/Projects/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.annes-macbook-2_0/H.local_16/node.properties
Teensydunio/Projects/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.annes-macbook-2_0/node.properties
Teensydunio/Projects/.metadata/.plugins/org.eclipse.rse.ui/.log
Teensydunio/Projects/.metadata/.plugins/org.eclipse.team.cvs.core/.running
Teensydunio/Projects/.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
Teensydunio/Projects/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
Teensydunio/Projects/.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
Teensydunio/Projects/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Teensydunio/Projects/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Teensydunio/Projects/.metadata/version.ini
Teensydunio/Projects/LedSnowboard/.metadata/.lock
Teensydunio/Projects/LedSnowboard/.metadata/.log
Teensydunio/Projects/LedSnowboard/.metadata/.mylyn/repositories.xml.zip
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.cdt.core/.log
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.mylyn.ui.prefs
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.runtime.prefs
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.egit.ui/dialog_settings.xml
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.linuxtools.cdt.libhover/C/devhelp.libhover
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.linuxtools.cdt.libhover/C/glibc_library.libhover
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.rse.core/.log
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.annes-macbook-2_0/FP.local.files_0/node.properties
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.annes-macbook-2_0/H.local_16/node.properties
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.annes-macbook-2_0/node.properties
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.rse.ui/.log
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Teensydunio/Projects/LedSnowboard/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Teensydunio/Projects/LedSnowboard/.metadata/version.ini
Teensydunio/Projects/LedSnowboard/LedSnowboard-.tgz
Teensydunio/Projects/LedSnowboard/RemoteSystemsTempFiles/.project
Teensydunio/Projects/LedSnowboard/ledsnowboard.tgz
Teensydunio/Projects/RemoteSystemsTempFiles/.project
Teensydunio/Projects/ledsnowboard.tgz
